{% trans_default_domain 'FOSUserBundle' %}



<!-- Home Banner Start -->
<div class="dc-innerbanner-holder dc-haslayout">
        <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dc-innerbanner">
                                        <form class="dc-formtheme dc-form-advancedsearch dc-innerbannerform">
                                                <fieldset>
                                                        <div class="form-group">
                                                                <input type="text" name="search" class="form-control" placeholder="Search doctors, clinics, hospitals, etc.">
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="dc-select">
                                                                        <select class="chosen-select locations" data-placeholder="Country" name="locations">
                                                                                <option value="Location">Location*</option>
                                                                                <option value="United State">Hyderabad</option>
                                                                                <option value="Canada">Warangal</option>
                                                                                <option value="England">Khammam</option>
                                                                                <option value="Switzerland">Tirupati</option>
                                                                                <option value="New Zealand">Vijayawada</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="dc-btnarea">
                                                                <a href="javascript:void(0);" class="dc-btn">Search</a>
                                                        </div>
                                                </fieldset>
                                        </form>

                                </div>
                        </div>
                </div>
        </div>			
</div>
<!-- Home Banner End -->
<!-- breadcrumbarea start -->
<div class="dc-breadcrumbarea">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ol class="dc-breadcrumb">
                                        <li><a href="/">Home</a></li>
                                        <li>Login</li>
                                </ol>
                        </div>
                </div>
        </div>
</div>
<!-- breadcrumbarea End -->
<!--Main Start-->
<main id="dc-main" class="dc-main dc-haslayout dc-innerbgcolor">
        <!--Register Form Start-->
        <div class="dc-haslayout dc-main-section">
                <div class="container">
                        <div class="row justify-content-md-center">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
                                        <div class="dc-registerformhold">
                                                <div class="dc-registerformmain">
                                                        <div class="dc-registerhead">
                                                                <div class="dc-title">
                                                                        <h3>Login</h3>
                                                                </div>										
                                                        </div>
                                                        <div class="dc-joinforms">
                                                                {% if error %}
                                                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                                {% endif %}
                                                                <form class="dc-formtheme dc-formregister" action="{{ path("fos_user_security_check") }}" method="post">	
                                                                        {% if csrf_token %}
                                                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                                        {% endif %}
                                                                        <fieldset>
                                                                                <div class="form-group">
                                                                                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Username" />
                                                                                </div>
                                                                                <div class="form-group">
                                                                                        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password" />
                                                                                </div>
                                                                                <div class="dc-logininfo">
                                                                                        <span class="dc-checkbox">
                                                                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                                                                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                                                                        </span>
                                                                                        <input type="submit"  class="dc-btn do-login-button" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                                                                </div>
                                                                        </fieldset>
                                                                        <div class="dc-loginfooterinfo">
                                                                                <a href="javascript:;" class="dc-forgot-password">Forgot password?</a>
                                                                                <a href="register.html">Create account</a>
                                                                        </div>						


                                                                </form>
                                                                <div class="dc-joinnowholder">
                                                                        <div class="dc-title">
                                                                                <h4>Login Now With</h4>
                                                                        </div>
                                                                        <div class="dc-description">
                                                                                <p>Use a social account for faster login or easy registration to directly get in to your account and start a good business</p>
                                                                        </div>
                                                                        <ul class="dc-socialicons dc-iconwithtext">
                                                                                <li class="dc-facebook"><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i><em>Facebook</em></a>
                                                                                </li>
                                                                                <li class="dc-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i><em>Twitter</em></a></li>
                                                                                <li class="dc-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i><em>Google</em></a></li>
                                                                                <li class="dc-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i><em>Instagram</em></a></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                </div>

                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!--Register Form End-->
