{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <!-- Home Banner Start -->
<div class="dc-innerbanner-holder dc-haslayout">
        <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="dc-innerbanner">
                                        <form class="dc-formtheme dc-form-advancedsearch dc-innerbannerform">
                                                <fieldset>
                                                        <div class="form-group">
                                                                <input type="text" name="search" class="form-control" placeholder="Search doctors, clinics, hospitals, etc.">
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="dc-select">
                                                                        <select class="chosen-select locations" data-placeholder="Country" name="locations">
                                                                                <option value="Location">Location*</option>
                                                                                <option value="United State">Hyderabad</option>
                                                                                <option value="Canada">Warangal</option>
                                                                                <option value="England">Khammam</option>
                                                                                <option value="Switzerland">Tirupati</option>
                                                                                <option value="New Zealand">Vijayawada</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="dc-btnarea">
                                                                <a href="javascript:void(0);" class="dc-btn">Search</a>
                                                        </div>
                                                </fieldset>
                                        </form>

                                </div>
                        </div>
                </div>
        </div>			
</div>
<!-- Home Banner End -->
<!-- breadcrumbarea start -->
<div class="dc-breadcrumbarea">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ol class="dc-breadcrumb">
                                        <li><a href="/">Home</a></li>
                                        <li>Register</li>
                                        <li>Success</li>
                                </ol>
                        </div>
                </div>
        </div>
</div>
<!-- breadcrumbarea End -->
<!--Main Start-->
<main id="dc-main" class="dc-main dc-haslayout dc-innerbgcolor">
        <!--Register Form Start-->
        <div class="dc-haslayout dc-main-section">
                <div class="container">
                        <div class="row justify-content-md-center">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
                                        <div class="dc-registerformhold">
                                                <div class="dc-registerformmain">
                                                        <div class="dc-registerhead">
                                                                <div class="dc-title">
                                                                    <h4>
                                                                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                                                                    {% if targetUrl %}
                                                                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                                                                    {% endif %}
                                                                    </h4>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>                    
{% endblock fos_user_content %}
